@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@font-face {
  font-family: "avenir-next-cyr-medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?") format("eot"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf") format("truetype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format("woff");
}
@font-face {
  font-family: "circe-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "circe-extra-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Circe/Circe-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "gilroy-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gilroy/gilroy-bold.eot?") format("eot"), url("../fonts/Gilroy/gilroy-bold.ttf") format("truetype"), url("../fonts/Gilroy/gilroy-bold.woff") format("woff");
}
/* ==================================== */
/* ==================================== */* ======== NORMALIZE AND RESET ======= */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
main {
  display: block;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
input {
  overflow: visible;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
details {
  display: block;
}
summary {
  display: list-item;
}
menu {
  display: block;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
body, html {
  height: 100%;
  width: 100%;
}
form {
  margin: 0;
  padding: 0;
}
input, input:focus, textarea, select {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
button,
textarea,
.select select,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="number"],
input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
select[disabled] {
  cursor: default;
}
select::-ms-expand {
  display: none;
}
input {
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
input[type="radio"]:focus {
  -moz-outline-radius: 12px !important;
  -moz-outline-offset: 0 !important;
}
input[type="checkbox"]:focus {
  -moz-outline-offset: -1px !important;
  -moz-outline: 1px solid #000 !important;
}
input[type="radio"],
input[type="checkbox"],
select {
  cursor: pointer;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
fieldset, table, ul {
  margin: 0;
  padding: 0;
  border: 0;
}
table {
  width: 100%;
}
ul {
  list-style: none;
}
/* reset end */
/* browserupgrade */
.old-ie {
  overflow: hidden;
}
.old-ie body {
  overflow: hidden;
}
.browserupgrade {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0.2em 0;
  margin: 0;
  font-size: 28px;
  line-height: 42px;
  color: #000;
  background: #ccc;
  z-index: 99999;
}
.browserupgrade p {
  position: absolute;
  width: 100%;
  top: 50%;
  margin: -22px 0 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
/* browserupgrade end */
/* no js warning */
.no-js-warning {
  position: fixed;
  width: 100%;
  z-index: 99999;
  border: 2px solid #f00;
  color: #f00;
  background: #fff;
  padding: 5px 20px;
  font-size: 18px;
}
/* no js warning end */
/* ==================================== */
/* ============== LAYOUT ============== */
/* ==================================== */
html {
  font-size: 62.5%;
}
html.css-scroll-fixed:not(.open-only-mob) {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
@media (max-width: 991px) {
  html.css-scroll-fixed.open-only-mob {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
  }
}
body {
  min-width: 32rem;
  font-family: "avenir-next-cyr-medium", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #3f3f3f;
  background: #fff url(../img/empty.png) no-repeat left top fixed;
  transition: color 0.7s, background-color 0.7s;
}
@media (max-width: 639px) {
  body {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.layout-page-spaces {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}
.layout-page {
  box-sizing: content-box;
  max-width: 192rem;
  margin-left: auto;
  margin-right: auto;
}
.layout-text-spaces {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}
.layout-text {
  box-sizing: content-box;
  max-width: 92rem;
  margin-left: auto;
  margin-right: auto;
}
.layout-flood {
  box-sizing: content-box;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
.layout-form {
  box-sizing: content-box;
  max-width: 48rem;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.main {
  -ms-flex: 1 0;
      flex: 1 0;
}
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
}
/* ==================================== */
/* ============ TYPOGRAPHY ============ */
/* ==================================== */
/* ==================================== */
/* ======= NON CONTENT ELEMENTS ======= */
/* ==================================== */
/* ==================================== */
/* ============ COMPONENTS ============ */
/* ==================================== */
/* ==================================== */
/* ============== HEADER ============== */
/* ==================================== */
.header {
  position: relative;
  z-index: 50;
}
.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 32rem;
}
.header-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 2rem 0 0 0;
  line-height: 1;
}
@media (max-width: 991px) {
  .header-container {
    padding-top: 5rem;
    padding-right: 4.9rem;
  }
}
@media (max-width: 639px) {
  .header-container {
    padding-top: 8.571rem;
    padding-right: 4.9rem;
  }
}
.header-container__left {
  position: relative;
}
.header-container__right {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
@media (max-width: 991px) {
  .header-container__right {
    display: none;
  }
}
/* logo */
.logo {
  overflow: hidden;
  position: relative;
  margin: 0.7rem 0 0;
  width: 23.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 5;
}
@media (max-width: 991px) {
  .logo {
    width: 38.8rem;
  }
}
@media (max-width: 639px) {
  .logo {
    width: 63.506rem;
    height: 19.48rem;
  }
}
.logo::before {
  content: "";
  display: block;
  padding-top: 25.21%;
}
.logo a,
.logo > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.logo a > span,
.logo > span > span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.logo a > span:active, .logo a > span:focus,
.logo > span > span:active,
.logo > span > span:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.logo .logo_dark,
.logo .logo_light {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
  will-change: opacity;
  transition: opacity 0.8s;
}
.logo .logo_dark {
  background-image: url(../img/logo.svg);
}
.logo .logo_light {
  background-image: url(../img/logo-alt.svg);
  opacity: 0;
}
.logo-theme-light .logo .logo_dark {
  opacity: 0;
}
.logo-theme-light .logo .logo_light {
  opacity: 1;
}
.header-container__right .jsNav__item {
  background: transparent;
  border-radius: 6px;
}
.logo-theme-dark .header-container__right .jsNav__item {
  background: #fff;
  border-radius: 6px;
  transition: background 0.8s;
}
/* logo end */
/* lang */
.lang {
  font-family: "circe-extra-bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #3f3f3f;
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .lang {
    font-size: 2.7rem;
  }
}
@media (max-width: 639px) {
  .lang {
    font-size: 5.455rem;
    line-height: 8.182rem;
  }
}
.lang__inner {
  height: 2.6rem;
  width: 2.6rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
  transition: color 0.35s;
  z-index: 1;
}
.lang__inner::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
  margin: -2.1rem 0 0 -2rem;
  opacity: 0;
  background-color: black;
  transition: opacity 0.35s, transform 0.35s, background-color 0.35s;
  transform: translateZ(0) scale3d(0.5, 0.5, 1);
  z-index: -1;
}
@media (max-width: 991px) {
  .lang__inner::before {
    height: 6rem;
    width: 6rem;
    border-radius: 6rem;
    margin: -3.2rem 0 0 -2.4rem;
  }
}
@media (max-width: 639px) {
  .lang__inner::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 11rem;
    width: 11rem;
    border-radius: 10rem;
    margin: -3.2rem 0 0 -3rem;
  }
}
.lang__inner:hover::before {
  opacity: 0.35;
  transform: translateZ(0) scale3d(1, 1, 1);
}
.logo-theme-light .lang__inner {
  color: white;
}
.logo-theme-light .lang__inner::before {
  background-color: white;
}
/* lang end */
/* ==================================== */
/* ============ NAVIGATION ============ */
/* ==================================== */
.nav-wrap {
  position: relative;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  text-align: center;
  z-index: 50;
}
@media (max-width: 991px) {
  .nav-wrap {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 48rem;
    max-width: 100%;
    text-align: left;
    background-color: rgba(238, 110, 115, 0.9);
    z-index: 999;
    transition-property: opacity, visibility, transform;
    transition-duration: 0.2s;
    opacity: 0;
    -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@media (max-width: 767px) {
  .nav-wrap {
    width: 32rem;
  }
}
@media (max-width: 639px) {
  .nav-wrap {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .nav-wrap.is-open {
    opacity: 1;
    -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.nav-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 998;
  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;
  display: none;
}
@media (max-width: 991px) {
  .nav-overlay {
    display: block;
  }
}
.nav-wrap.is-open ~ .nav-overlay {
  opacity: 1;
  pointer-events: auto;
}
.nav-opener {
  display: block;
  position: relative;
  height: 4rem;
  width: 4rem;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  display: none;
}
.nav-opener::before, .nav-opener::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50%;
}
.nav-opener::before {
  height: 1.7rem;
  width: 2.6rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiB3aWR0aD0iMjYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAyNiAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB3aWR0aD0iMjYiIGhlaWdodD0iMyIgcng9IjEuNSI+PC9yZWN0PjxyZWN0IHk9IjciIHdpZHRoPSIyNiIgaGVpZ2h0PSIzIiByeD0iMS41Ij48L3JlY3Q+PHJlY3QgeT0iMTQiIHdpZHRoPSIyNiIgaGVpZ2h0PSIzIiByeD0iMS41Ij48L3JlY3Q+PC9zdmc+);
}
.nav-opener::after {
  height: 2.5rem;
  width: 2.7rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiB3aWR0aD0iMjciIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNyAyNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSIwLjQ0NjUzMyIgeT0iMTIuNCIgd2lkdGg9IjE3IiBoZWlnaHQ9IjMiIHJ4PSIxLjUiIHRyYW5zZm9ybT0icm90YXRlKC00NCAwLjQ0NjUzMyAxMi40KSI+PC9yZWN0PjxyZWN0IHg9IjEiIHk9IjExIiB3aWR0aD0iMjYiIGhlaWdodD0iMyIgcng9IjEuNSI+PC9yZWN0PjxyZWN0IHg9IjIuNTgwMzIiIHk9IjEwLjQyODUiIHdpZHRoPSIxNyIgaGVpZ2h0PSIzIiByeD0iMS41IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSAyLjU4MDMyIDEwLjQyODUpIj48L3JlY3Q+PC9zdmc+);
  display: none;
}
@media (max-width: 991px) {
  .nav-opener {
    display: block;
  }
}
.nav-opener.is-open::before {
  display: none;
}
.nav-opener.is-open::after {
  display: block;
}
.nav-header {
  position: relative;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  display: none;
}
@media (max-width: 991px) {
  .nav-header {
    display: -ms-flexbox;
    display: flex;
  }
}
.logo-nav {
  display: block;
  position: relative;
  height: 4rem;
  width: 16rem;
  font-size: 0;
  line-height: 0;
  background-image: url(../img/logo-alt.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 85%;
}
.nav-close-btn {
  position: relative;
  display: block;
  height: 4rem;
  width: 4rem;
  margin-left: auto;
  overflow: hidden;
  text-indent: -999rem;
}
.nav-close-btn::before {
  content: "";
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMjMuOTU0IDIxLjAzbC05LjE4NC05LjA5NSA5LjA5Mi05LjE3NC0yLjgzMi0yLjgwNy05LjA5IDkuMTc5LTkuMTc2LTkuMDg4LTIuODEgMi44MSA5LjE4NiA5LjEwNS05LjA5NSA5LjE4NCAyLjgxIDIuODEgOS4xMTItOS4xOTIgOS4xOCA5LjF6Ii8+PC9zdmc+);
  background-size: contain;
}
.nav {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 991px) {
  .nav {
    display: block;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: default;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #3f3f3f;
  text-align: left;
  transition: color 0.7s;
}
.logo-theme-light .nav__list {
  color: #fff;
}
@media (max-width: 1199px) {
  .nav__list {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 991px) {
  .nav__list {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.nav__list,
.nav__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 991px) {
  .nav__list {
    display: block;
  }
}
.nav__list li {
  position: relative;
}
@media (max-width: 991px) {
  .nav__list li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}
.nav__list a,
.nav__list li > span {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 991px) {
  .nav__list a,
  .nav__list li > span {
    padding: 0 1rem 0 0;
    overflow: visible;
  }
}
.nav__list a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  .nav__list a {
    max-width: calc(100% - 4rem);
  }
}
.nav__list li.has-sub > a,
.nav__list li.has-sub > span {
  padding-right: 4rem;
}
@media (max-width: 991px) {
  .nav__list li.has-sub > a,
  .nav__list li.has-sub > span {
    padding-right: 1rem;
    max-width: calc(100% - 4rem);
  }
}
.nav__list ul {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: none;
  transition: opacity 0.2s, visibility 0.2s;
}
@media (min-width: 992px) {
  .nav__list ul {
    display: block !important;
    position: absolute;
    right: 0;
    top: 100%;
    width: 28rem;
    padding: 1.5rem 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.nav__list ul::before {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  left: -0.5rem;
  height: calc(100% - 1rem * 2);
  width: calc(100% - -0.5rem * 2);
  background-color: #e8e8e8;
  border-radius: 0.2rem;
  z-index: -1;
}
@media (max-width: 991px) {
  .nav__list ul::before {
    content: none;
  }
}
.nav__list ul ul {
  left: 100%;
  top: -0.5rem;
  text-transform: none;
}
@media (max-width: 991px) {
  .nav__list ul ul {
    left: auto;
    top: auto;
  }
}
.nav__list ul li {
  margin: 0.5rem 0 0;
}
@media (max-width: 991px) {
  .nav__list ul li {
    margin: 0;
    padding: 1em 0 0 1.5rem;
  }
}
.nav__list ul li:first-child {
  margin-top: 0;
}
.nav__list ul a {
  display: block;
  transition: color 0.2s;
}
.nav__list ul li.hover > a,
.nav__list ul li.hover > span,
.no-js .nav__list ul li:hover > a,
.no-js .nav__list ul li:hover > span {
  color: #ee6e73;
}
.nav__list ul li.current > a,
.nav__list ul li.current > span {
  color: #ee6e73;
}
@media (max-width: 991px) {
  .nav__list ul li.current > a,
  .nav__list ul li.current > span {
    color: #6c757d;
  }
}
.nav__list ul li.current.hover > a {
  color: white;
}
.nav__list li.current > ul {
  display: block;
}
@media (min-width: 992px) {
  .nav__list li.hover > ul,
  .no-js .nav__list li:hover > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 5;
  }
}
.nav__list li > em {
  position: absolute;
  top: 50%;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0;
  line-height: 0;
  height: 4rem;
  width: 4rem;
  margin-top: -2rem;
  padding: 0;
  text-align: center;
  cursor: pointer;
  color: #3f3f3f;
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  transition: color 0.2s;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}
.nav__list li > em.jsNav__arrow_on {
  pointer-events: auto;
}
.nav__list li > em::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: -0.6rem 0 0 -0.6rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxLjIyMjY2TDguMjA5OTYgOC42MjEwOUwxNS40MTk5IDEuMjIyNjYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.nav__list li > em:hover::after {
  background: #f39c9f;
  background: linear-gradient(to bottom, #f39c9f 0%, #ee6e73 100%);
}
@media (max-width: 991px) {
  li.is-open > em {
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
  }
}
@media (max-width: 991px) {
  .nav__list li > em {
    position: relative;
    top: auto;
    right: auto;
    margin: -1rem -1.5rem -1rem 0;
    -ms-transform: rotate(0);
        transform: rotate(0);
    pointer-events: auto;
  }
}
li.hover > em {
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}
@media (max-width: 991px) {
  li.is-open > em {
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
  }
}
.nav__list > li {
  margin: 0 0.6rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .nav__list > li {
    padding: 1em 1.5rem;
    border-top: 1px solid rgba(63, 63, 63, 0.5);
    margin: 0;
  }
}
@media (max-width: 991px) {
  .nav__list > li:first-child {
    border-top: none;
  }
}
.nav__list > li > a::before,
.nav__list > li > span::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0.4rem;
  width: calc(100% - 0.8rem);
  height: 0.2rem;
  background-color: currentColor;
  -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
  -ms-transform: scale(0, 1);
      transform: scale(0, 1);
  transform: scale3d(0, 1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform, opacity;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
@media (max-width: 991px) {
  .nav__list > li > a::before,
  .nav__list > li > span::before {
    content: none;
  }
}
.nav__list > li > em {
  display: none;
}
@media (max-width: 991px) {
  .nav__list > li > em {
    display: block;
  }
}
.nav__list > li.hover > a::before,
.no-js .nav__list > li:hover > a::before {
  -ms-transform-origin: 0 100%;
      transform-origin: 0 100%;
  -ms-transform: scale(1, 1);
      transform: scale(1, 1);
  transform: scale3d(1, 1, 1);
}
.nav__list > li.current > a,
.nav__list > li.current > span {
  position: relative;
  z-index: 1;
  overflow: visible;
  cursor: default;
  color: #6c757d;
}
@media (max-width: 991px) {
  .nav__list > li.current > a,
  .nav__list > li.current > span {
    color: #6c757d;
  }
}
.nav__list > li.current > a::after,
.nav__list > li.current > span::after {
  content: "";
  position: absolute;
  top: -2.1rem;
  left: 0.5rem;
  right: 0.5rem;
  height: 0.5rem;
  background-color: #ee6e73;
  will-change: transform, opacity;
  transition: transform 0.3s;
  -ms-transform-origin: 3rem center;
      transform-origin: 3rem center;
  -ms-transform: scale(0, 1);
      transform: scale(0, 1);
  transform: scale3d(0, 1, 1);
  z-index: -1;
}
html.ready .nav__list > li.current > a::after,
html.no-js .nav__list > li.current > a::after, html.ready
.nav__list > li.current > span::after,
html.no-js
.nav__list > li.current > span::after {
  opacity: 1;
  -ms-transform: scale(1, 1);
      transform: scale(1, 1);
  transform: scale3d(1, 1, 1);
}
@media (max-width: 991px) {
  .nav__list > li.current > a::after,
  .nav__list > li.current > span::after {
    content: none;
  }
}
/* ==================================== */
/* ============== MAIN ================ */
/* ==================================== */
.main {
  position: relative;
  padding: 3.9rem 0 6rem;
}
.main__layout {
  height: 100%;
}
.main__contacts {
  height: 100%;
  padding: 0 0 3.4rem;
}
.main__footer-site {
  font-family: "circe-regular", Helvetica, Arial, sans-serif;
  font-size: 0.816rem;
  line-height: 1.224rem;
  letter-spacing: 0.256rem;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .main__footer-site {
    font-size: 1.816rem;
  }
}
@media (max-width: 639px) {
  .main__footer-site {
    font-size: 3.896rem;
    line-height: 5.844rem;
    letter-spacing: 1.224rem;
    margin-bottom: 3.506rem;
  }
}
@media (max-width: 639px) {
  .main__footer-privacy {
    -ms-flex-order: 3;
        order: 3;
    margin-bottom: 0;
  }
}
.main__footer-clover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.312773);
}
.h-main {
  overflow: hidden;
}
.h-main__footer {
  background-color: white;
  border-top: 1px solid #ccc;
}
.content {
  background-color: rgba(245, 245, 245, 0.8);
}
/* main section */
.main-section {
  position: relative;
  min-height: 100%;
  padding: 0;
  color: #131313;
}
.main-section_bg {
  background: url(../img/bg_main_dop.svg) no-repeat center center/cover;
}
.main-section .layout-page {
  height: 100%;
}
.main-section__layout {
  position: relative;
  height: 100%;
}
.main-section__align {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  height: 100%;
}
.main-section__footer {
  width: 89.7%;
  position: absolute;
  bottom: 28px;
  z-index: 999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  opacity: 0;
}
.main-section__footer div {
  color: #BBBBBB;
}
.main-section__footer .dop_col {
  color: #BBBBBB;
}
.main-section__footer a {
  margin-right: 0;
}
@media (max-width: 639px) {
  .main-section__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    bottom: 15px;
  }
}
@media (max-width: 639px) {
  .main-section {
    padding: 0;
  }
}
.editColorFooter div {
  color: rgba(255, 255, 255, 0.312773);
}
/* main section end */
.logo-theme-dark .first_footer {
  opacity: 1;
  transition: opacity 0.5s 0.6s;
}
.second_item .second_footer {
  opacity: 1;
  transition: opacity 0.5s 0.6s;
}
.third_item .third_footer {
  opacity: 1;
  transition: opacity 0.5s 0.6s;
}
/* menu */
.menu__item {
  position: static;
  -ms-flex: 1 0 19.2rem;
      flex: 1 0 19.2rem;
  max-width: 19.2rem;
  height: 100%;
  pointer-events: none;
}
.m-active .menu__item {
  pointer-events: auto;
}
/* menu end */
/* menu element */
.menu-el {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 5.2rem 2rem 4.5rem 0;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
.menu-el__full {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 100%;
  padding: 5rem 0;
}
.menu-el__full-align {
  position: absolute;
  left: 0;
  width: 100%;
}
.menu-el__full-count {
  display: block;
  overflow: hidden;
  margin: 0 0 0.83rem 0.6rem;
  font-family: "avenir-next-cyr-regular", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  line-height: 1;
  will-change: opacity;
  transition: opacity 0.7s;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 639px) {
  .menu-el__full-count {
    font-size: 6.678rem;
    line-height: 8.961rem;
    margin: 0 0 10.091rem 0;
  }
}
.menu-el__full-count::before {
  content: "01";
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-delay: 1.6s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -ms-transform: translate(0, 120%);
      transform: translate(0, 120%);
  transform: translate3d(0, 120%, 0);
}
.s-ready .menu-el__full-count::before {
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}
.m-active .menu-el__full-count {
  opacity: 1;
  pointer-events: auto;
}
.menu-el__full-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
}
@media (max-width: 991px) {
  .menu-el__full-content {
    -ms-flex-align: center;
        align-items: center;
  }
}
@media (max-width: 639px) {
  .menu-el__full-content {
    display: block;
  }
}
.menu-el__full-caption {
  -ms-flex: 1 0 48.5%;
      flex: 1 0 48.5%;
  max-width: 48.5%;
}
@media (max-width: 639px) {
  .menu-el__full-caption {
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    max-width: 100%;
    padding-right: 0rem;
    padding-left: 0px;
  }
}
.menu-el__full-title {
  font-family: "gilroy-bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7.119rem;
  line-height: 7.119rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  will-change: opacity;
  transition: opacity 0.7s;
  opacity: 0;
  pointer-events: none;
  color: #1D3743;
}
@media (max-width: 991px) {
  .menu-el__full-title {
    font-size: 6.5rem;
    line-height: 5.6rem;
  }
}
@media (max-width: 639px) {
  .menu-el__full-title {
    font-size: 18.701rem;
    line-height: 18.701rem;
    padding: 30.571rem 10.13rem 30.571rem 0;
  }
}
.m-active .menu-el__full-title {
  opacity: 1;
  pointer-events: auto;
}
.menu-el__full-title a {
  color: inherit;
  text-decoration: none;
}
.menu-el__full-more {
  position: relative;
  will-change: opacity;
  transition: opacity 0.7s;
  opacity: 0;
  pointer-events: none;
}
.m-active .menu-el__full-more {
  opacity: 1;
  pointer-events: auto;
}
.menu-el__full-description {
  -ms-flex: 1 0 35%;
      flex: 1 0 35%;
  max-width: 35%;
  margin: 0;
  transition: opacity 0.7s;
  opacity: 0;
  color: #4B6977;
}
.menu-el__full-description p {
  font-family: "avenir-next-cyr-medium", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.121rem;
  padding: 3.019rem 1.632rem;
  margin-top: -2.2rem;
}
@media (max-width: 991px) {
  .menu-el__full-description p {
    font-size: 2rem;
    line-height: 3.121rem;
  }
}
@media (max-width: 639px) {
  .menu-el__full-description p {
    display: none;
  }
}
@media (max-width: 991px) {
  .menu-el__full-description {
    -ms-flex: 1 0 48%;
        flex: 1 0 48%;
    max-width: 48%;
  }
}
@media (max-width: 639px) {
  .menu-el__full-description {
    max-width: 97.013rem;
  }
}
.s-ready .m-active .menu-el__full-description {
  opacity: 1;
}
.menu-el__full-rect {
  width: 0.33rem;
  height: 16.9rem;
  background-color: #D8D8D8;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: auto;
}
@media (max-width: 991px) {
  .menu-el__full-rect {
    width: 0.53rem;
    height: 31.9rem;
  }
}
@media (max-width: 639px) {
  .menu-el__full-rect {
    display: none;
  }
}
.menu-el__short-count {
  display: block;
  overflow: hidden;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  transition: opacity 0.35s;
}
.menu-el__short-count::before {
  display: block;
  content: "0" counter(item);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-delay: 1.5s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -ms-transform: translate(0, 120%);
      transform: translate(0, 120%);
  transform: translate3d(0, 120%, 0);
}
.s-ready .menu-el__short-count::before {
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}
.menu-el__short-title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 1.9rem;
  line-height: 1.158;
}
.menu-el__short-inner {
  display: block;
  will-change: transform;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
.logo-theme-dark .menu-el__full-description p {
  background: #fff;
  transition: background 1.3s;
}
.logo-theme-light .menu-el__full-description p {
  background-color: transparent;
}
.logo-theme-dark .wbg {
  opacity: 0;
}
.logo-theme-light .wbg {
  transition: opacity 3s;
  opacity: 1;
}
.logo-theme-dark .menu-el__full-title {
  transition: background-color 2s;
  background-color: #fff;
}
.logo-theme-light .menu-el__full-title {
  background-color: transparent;
}
.logo-theme-light .main-section_bg {
  background: none;
}
.st {
  display: block;
  overflow: hidden;
}
.sst {
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
  transition-property: transform;
  transition-duration: 1.0s;
  transition-delay: 1.2s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -ms-transform: translate(0, 102%);
      transform: translate(0, 102%);
  transform: translate3d(0, 102%, 0);
}
.s-ready .sst {
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}
.menu-el__short-line {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s 1.2s;
}
.s-ready .menu-el__short-line {
  opacity: 1;
}
.menu-el__short-line::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5rem;
  margin-top: -0.25rem;
  background-color: currentColor;
  will-change: transform;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -ms-transform: translate(-102%, 0);
      transform: translate(-102%, 0);
  transform: translate3d(-102%, 0, 0);
}
.menu-el__short {
  display: block;
  position: relative;
  margin-top: auto;
  cursor: default;
  color: inherit;
  text-decoration: none;
  pointer-events: auto;
}
.no-touchevents .menu-el__short:hover .menu-el__short-count,
.m-active .menu-el__short .menu-el__short-count {
  opacity: 0;
}
.no-touchevents .menu-el__short:hover .menu-el__short-inner,
.m-active .menu-el__short .menu-el__short-inner {
  -ms-transform: translate(0, -60%);
      transform: translate(0, -60%);
  transform: translate3d(0, -60%, 0);
}
.no-touchevents .menu-el__short:hover .menu-el__short-line::before,
.m-active .menu-el__short .menu-el__short-line::before {
  transition-delay: 0.3s;
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}
/* menu element end */
/* case section */
.case-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.6s;
}
@media (max-width: 639px) {
  .case-section {
    -ms-flex-align: start;
        align-items: flex-start;
    overflow: hidden;
  }
}
.case-section.s-visible {
  opacity: 1;
}
.case-section__layout {
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
@media (max-width: 639px) {
  .case-section__layout {
    height: auto;
  }
}
.case-section__layout .layout-page {
  height: 100%;
}
.case-section__align {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}
@media (max-width: 639px) {
  .case-section__align {
    display: block;
    margin-top: 50rem;
  }
}
.case-section__caption {
  position: relative;
  -ms-flex: 1 0 30.8%;
      flex: 1 0 30.8%;
  max-width: 30.8%;
  padding: 0 2rem 0.8rem 0;
  margin: 0 0 0 -0.2rem;
}
@media (max-width: 991px) {
  .case-section__caption {
    -ms-flex: 1 0 width;
        flex: 1 0 width;
    max-width: 100%;
  }
}
.case-section__count {
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 0 0 1.4rem 0.9rem;
  font-family: "circe-regular", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: white;
  cursor: default;
  transition: opacity 0.6s 1.5s;
  opacity: 0;
}
@media (max-width: 639px) {
  .case-section__count {
    font-size: 4.675rem;
    line-height: 7.013rem;
  }
}
.case-section__count_dark-gray {
  color: #333;
}
.case-section__count_gray {
  color: #919191;
}
.case-section__count_whiteone {
  color: rgba(255, 255, 255, 0.3);
}
.case-section__count_whitetwo {
  color: rgba(255, 255, 255, 0.44);
}
.case-section__count_light-gray {
  color: #d8d8d8;
}
.s-ready .case-section__count {
  opacity: 0.3;
}
.case-section__title {
  font-family: "gilroy-bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 7.3rem;
  line-height: 7.5rem;
  color: white;
}
@media (max-width: 991px) {
  .case-section__title {
    font-size: 11.3rem;
    line-height: 11.5rem;
  }
}
@media (max-width: 639px) {
  .case-section__title {
    display: none;
  }
}
.case-section__title_dark-gray {
  color: #333;
}
.case-section__title_gray {
  color: #919191;
}
.case-section__description {
  position: relative;
  -ms-flex: 1 0 26.3%;
      flex: 1 0 26.3%;
  max-width: 26.3%;
  padding: 0 2rem 0 0;
  margin-top: 1.632rem;
}
@media (max-width: 991px) {
  .case-section__description {
    -ms-flex: 1 0 28.4%;
        flex: 1 0 28.4%;
    max-width: 28.4%;
  }
}
@media (max-width: 639px) {
  .case-section__description {
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    max-width: 100%;
  }
}
.case-section__description_gray {
  color: #919191;
}
.case-section__numberGame {
  font-family: "circe-regular", Helvetica, Arial, sans-serif;
  margin-bottom: 1.305rem;
  color: #fff;
  font-size: 1.469rem;
  line-height: 2.203rem;
}
@media (max-width: 991px) {
  .case-section__numberGame {
    font-size: 3.469rem;
    line-height: 5.203rem;
  }
}
@media (max-width: 639px) {
  .case-section__numberGame {
    font-size: 7.013rem;
    line-height: 10.519rem;
  }
}
.case-section__sub-title {
  margin: 0 0 0.4rem;
  font-family: "gilroy-bold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3.75rem;
  color: white;
}
@media (max-width: 991px) {
  .case-section__sub-title {
    font-size: 5rem;
    line-height: 6.75rem;
  }
}
@media (max-width: 639px) {
  .case-section__sub-title {
    font-size: 14.026rem;
    line-height: 17.922rem;
  }
}
.case-section__sub-title_gray {
  color: #919191;
}
.case-section__more {
  width: 20.48rem;
  max-width: 100%;
  position: relative;
  font-size: 1.305rem;
  line-height: 2.2rem;
  color: #fff;
  opacity: 0.7;
}
@media (max-width: 991px) {
  .case-section__more {
    width: 30.48rem;
    font-size: 2.05rem;
    line-height: 2.2rem;
  }
}
@media (max-width: 639px) {
  .case-section__more {
    display: none !important;
  }
}
.case-section__figure {
  position: relative;
  -ms-flex: 1 0 42.9%;
      flex: 1 0 42.9%;
  max-width: 42.9%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 639px) {
  .case-section__figure {
    height: auto;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    max-width: 100%;
    position: static;
  }
}
.case-section__figure-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 120%;
  opacity: 0;
  will-change: transform, opacity;
  transition-property: transform, opacity;
  transition-duration: 0.7s;
  transition-delay: 1.3s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -ms-transform: translate(-50%, -50%) scale(0.85, 0.85);
      transform: translate(-50%, -50%) scale(0.85, 0.85);
  transform: translate3d(-50%, -50%, 0) scale3d(0.85, 0.85, 1);
}
@media (max-width: 639px) {
  .case-section__figure-img {
    left: 50%;
    width: 100%;
    -ms-flex-align: end;
        align-items: flex-end;
  }
}
.s-ready .case-section__figure-img {
  opacity: 1;
  -ms-transform: translate(-50%, -50%) scale(1, 1);
      transform: translate(-50%, -50%) scale(1, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}
.case-section__figure-img img {
  max-height: 100%;
  max-width: 100%;
}
.case-section__figure-img_social1 {
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 639px) {
  .case-section__figure-img_social1 {
    -ms-flex-align: end;
        align-items: flex-end;
    top: 35%;
    left: 48%;
  }
}
@media (max-width: 639px) {
  .case-section__figure-img_social1 img {
    width: 114.026rem;
    height: 106.234rem;
  }
}
@media (max-width: 359px) {
  .case-section__figure-img_social1 img {
    width: 104.026rem;
    height: 96.234rem;
  }
}
.case-section__figure-img_social2 {
  left: 55%;
  top: 50%;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
@media (max-width: 991px) {
  .case-section__figure-img_social2 {
    -ms-flex-align: center;
        align-items: center;
  }
}
@media (max-width: 639px) {
  .case-section__figure-img_social2 {
    -ms-flex-align: center;
        align-items: center;
    left: 50%;
    top: 55%;
  }
}
.case-section__figure-img_social2 img {
  width: 46.589rem;
  height: 46.589rem;
}
@media (max-width: 639px) {
  .case-section__figure-img_social2 img {
    width: 112.013rem;
    height: 105.779rem;
  }
}
@media (max-width: 359px) {
  .case-section__figure-img_social2 img {
    width: 92.013rem;
    height: 85.779rem;
  }
}
.case-section__rectangle {
  width: 0.33rem;
  height: 17rem;
  background: #D8D8D8;
  border-radius: 0.41rem;
  position: relative;
  left: 14px;
}
@media (max-width: 639px) {
  .case-section__rectangle {
    display: none;
  }
}
.ct,
.mt {
  display: block;
  overflow: hidden;
  padding: 0 0 0.7rem;
  margin: 0 0 -1rem;
}
@media (max-width: 639px) {
  .ct,
  .mt {
    display: inline;
  }
}
.cst,
.mst {
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform, opacity;
  transition-property: transform, opacity;
  transition-duration: 1.0s;
  transition-delay: 0.8s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  -ms-transform: translate(0, 120%);
      transform: translate(0, 120%);
  transform: translate3d(0, 120%, 0);
}
.no-js .cst,
.s-ready .cst,
.article-ready .cst, .no-js
.mst,
.s-ready
.mst,
.article-ready
.mst {
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}
/* case section end */
.download {
  position: relative;
  bottom: 14%;
  right: 8%;
  z-index: 10;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.download a {
  text-decoration: none;
}
.download__google {
  margin-right: 1.469rem;
}
@media (max-width: 991px) {
  .download {
    display: -ms-flexbox;
    display: flex;
    right: 10%;
  }
}
@media (max-width: 639px) {
  .download {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    position: absolute;
    bottom: 11%;
    right: 0;
  }
}
@media (max-width: 359px) {
  .download {
    bottom: 13%;
  }
}
.wbg {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  visibility: visible;
  z-index: -1;
}
.first_bg {
  position: absolute;
  right: 25%;
}
@media (max-width: 639px) {
  .first_bg {
    right: 35%;
    top: -3%;
  }
}
.second_bg {
  position: absolute;
  bottom: -2%;
  left: 2.6%;
}
@media (max-width: 639px) {
  .second_bg {
    display: none;
  }
}
.third_bg {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 639px) {
  .third_bg {
    bottom: -25%;
  }
}
@media print {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p, hr, div,
  blockquote, q, cite, figure, figcaption,
  header, footer, main, section, article, aside,
  applet, object, iframe,
  pre,
  abbr, acronym, address, big, code,
  del, dfn, ins, kbd, s, samp,
  tt,
  dl, dt, dd,
  fieldset, form, legend, caption,
  canvas, details, embed,
  menu, nav, output, ruby, summary,
  audio, video,
  .full-reset {
    display: block !important;
    float: none !important;
    position: relative !important;
    overflow: visible !important;
    height: auto !important;
    min-height: 0 !important;
    max-height: none !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    -ms-transform: none !important;
        transform: none !important;
    text-align: left !important;
    border: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    font-size: inherit !important;
    line-height: inherit !important;
    z-index: auto !important;
  }
  ul, ol, li,
  a, span, i, em, strong, b, u, mark, time, label,
  small, strike, sub, sup, var,
  table, table td, table th,
  img, svg {
    float: none !important;
    position: relative !important;
    overflow: visible !important;
    height: auto !important;
    min-height: 0 !important;
    max-height: none !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    -ms-transform: none !important;
        transform: none !important;
    text-align: left !important;
    border: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    font-size: inherit !important;
    line-height: inherit !important;
    z-index: auto !important;
  }
  a, span, i, em, strong, b, u, mark, time, label,
  small, strike, sub, sup, var {
    display: inline !important;
  }
  img, svg {
    display: inline-block !important;
  }
  ul, ol {
    display: block !important;
    padding-left: 40px !important;
    list-style: initial !important;
  }
  ul li, ol li {
    display: list-item !important;
  }
  ul li::before, ol li::before {
    display: none !important;
  }
  table {
    display: table !important;
  }
  thead {
    display: table-header-group !important;
  }
  div::before, div::after, ul::before, ul::after, li::before, li::after {
    content: none !important;
  }
  body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10pt !important;
    line-height: 1.5 !important;
    font-size: initial !important;
    line-height: initial !important;
    min-width: 1024px !important;
  }
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline !important;
  }
  a[href^=http]::after {
    content: " <" attr(href) "> " !important;
  }
  a[href]::after {
    content: " (" attr(href) ")" !important;
  }
  abbr[title]::after {
    content: " (" attr(title) ")" !important;
  }
  a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "" !important;
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  h1, h2, h3, h4, h5, h6,
  b, strong, th, i, em,
  blockquote, q, cite,
  table td, table th, table {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    font-style: normal !important;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  b, strong, th {
    font-weight: bold !important;
  }
  i, em, figcaption, cite {
    font-style: italic !important;
  }
  i b, i strong, em b, em strong,
  b i, b em, strong i, strong em {
    font-weight: bold !important;
    font-style: italic !important;
  }
  table {
    width: 100% !important;
  }
  table td, table th, table {
    border: 1px solid black !important;
    font-size: 9pt !important;
    line-height: 1.6 !important;
    color: black !important;
    padding: 3pt !important;
  }
  table td > *, table th > *, table > * {
    padding: 0 !important;
  }
  blockquote {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: calc(100% - 2cm) !important;
  }
  blockquote q {
    text-align: center !important;
  }
  blockquote q::before, blockquote q::after {
    position: static !important;
    display: inline-block !important;
    vertical-align: baseline !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1em !important;
  }
  blockquote cite {
    text-align: right !important;
  }
  hr {
    border-color: black;
  }
  svg {
    height: 1cm !important;
    width: 1cm !important;
  }
  img {
    max-width: 8cm !important;
    margin-top: 0 !important;
    margin-bottom: 0.5cm !important;
    padding-bottom: 0 !important;
  }
  h1, .h1,
  .title-text {
    font-size: 26pt !important;
    line-height: 1.3 !important;
  }
  h2, .h2,
  .sub-title-text {
    font-size: 22pt !important;
    line-height: 1.4 !important;
  }
  h3, .h3,
  .entry-text {
    font-size: 18pt !important;
    line-height: 1.5 !important;
  }
  h4, .h4,
  blockquote q,
  .caption-text {
    font-size: 14pt !important;
    line-height: 1.5 !important;
  }
  h5, .h5,
  blockquote cite,
  .mark-text {
    font-size: 12pt !important;
    line-height: 1.6 !important;
  }
  h6, .h6,
  .small-title {
    font-size: 8pt !important;
    line-height: 1.8 !important;
  }
  .sidebar, .aside, .footer, .spacer,
  .print-hidden, .view-print,
  .nav, .nav-list,
  .breadcrumbs, .breadcrumbs__list,
  [class*="btn-"],
  form {
    display: none !important;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p, ul, ol, blockquote, q,
  .table-auto, table,
  figure,
  .imgl, .imgr, .imgc {
    margin-top: 0 !important;
    margin-bottom: 0.5cm !important;
    padding-bottom: 0 !important;
  }
  .header,
  .blockquote, blockquote,
  hr {
    margin-top: 0 !important;
    margin-bottom: 1cm !important;
    padding-bottom: 0 !important;
  }
  .header {
    padding: 0.3cm 0 !important;
    border-bottom: 1px solid black !important;
  }
  .logo {
    background: none !important;
  }
  .logo > * {
    display: none !important;
  }
  .logo > img {
    display: block !important;
    float: left !important;
    margin: 0 !important;
  }
}
